
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">GitSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
          <li><a class="nav-item nav-link active d-inline" routerLink ="home" routerLinkActive='active'>Home</a></li>
          <li><a class="nav-item nav-link d-inline" routerLink="display_results" routerLinkActive='active'>Search GitUser</a></li>
          <li><a class="nav-item nav-link d-inline" routerLink="displayRepos" routerLinkActive='active'>Search Repository</a></li>
      </ul>

   </div>

    
  </nav>
  
  <!-- <nav class="navbar navbar-dark bg-dark">
    
    
        
    
      <ul class="nav navbar-nav d-inline navbar-center">
       <li><a class="nav-item nav-link active d-inline" routerLink ="home" routerLinkActive='active'>Home</a></li>
       <li><a class="nav-item nav-link d-inline" routerLink="display_results" routerLinkActive='active'>About</a></li>
      </ul>
    
  </nav>
    
     -->

