<div class="row mt-5">
    <div class="col-md-12">
        
        <div class="col-sm-4 offset-sm-4 text-center">
         <app-git-search-form (emitResult)='parentGetResult($event)'></app-git-search-form>
        </div>
        

    </div>

</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="col-md-2">

        </div>
        <div class="col-md-4" >
          <div class="card"*ngIf ="user">
              <img src='{{user.avatar_url}}' alt="" class="card-img">
              <h1>{{user.name}}</h1>
              <div class="card-body"> 
                  <p>UserName:<a href="">{{user.login}}</a></p> 

              </div>
          </div>
        </div>
        <div class="col-md-5">
          

        </div>
        <div class="col-md-2">

        </div>


    </div>

</div>