/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "../node_modules/font-awesome/css/font-awesome.css";
@import 'https://fonts.googleapis.com/css?family=Raleway';



div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1em 3em;
	text-align: center;
}


