/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "../node_modules/font-awesome/css/font-awesome.css";
@import 'https://fonts.googleapis.com/css?family=Raleway';

body{
    font-family: Raleway;
}
.card-img{
    width:60%;
    text-align: center;
    margin-left:20%;
    border-radius: 40%;
   
}
h1{
    text-align: center;
}

/* div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1em 3em;
	text-align: center;
} */


